html
{
  background-color: black;
  color: white;
  font-family: shanti, sans-serif;
  margin-left: 24pt;
  margin-right: 24pt;
}

a, a:visited
{
  color: white;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

a.stub, a.stub:visited
{
  color: #d0d0d0;
  font-style: italic;
}

div.name
{
  font-size: 36pt;
}

div.header
{
  margin-bottom: 12pt;
}

div.text table tr td
{
  color: black;
}

div.text
{
  margins: 12pt;
  padding: 12pt;
  border-radius: 12pt;
  background-color: #ffe;
  color: black;
  width: 640px;
}

hr
{
  width: 500px;
}

div.text a
{
  color: black;
}

img.img_on_page {
    max-height: 200px; 
    max-width: 200px; 
    margin: 12px;
}

/* Family tree compact representation */

div.ftree
{
  position: absolute;
  right: 10px;
  top: 20px;
}

div.ftree_paternal_grandparents,
div.ftree_maternal_grandparents,
div.ftree_parents
{
  border: 1px solid white;
  border-radius: 3pt;
}

div.ftree_paternal_grandparents
{
  margin-right: 10px;
}

div.ftree_maternal_grandparents
{
  text-align: right;
  margin-left: 10px;
}

div.ftree_paternal_grandparents,
div.ftree_maternal_grandparents
{
  margin-bottom: 10px;
  font-size: 13pt;
  padding: 3pt;
}

div.ftree_paternal_grandparents div.greatgrandparents
{
  margin-left: 10px;
  font-size: 10pt;
}

div.ftree_maternal_grandparents div.greatgrandparents
{
  margin-right: 10px;
  font-size: 10pt;
}

div.ftree_parents
{
  font-size: 15pt;
  padding: 3pt;
}


div.ftree_central
{
  font-size: 20pt;
}